<ul class="b_bd_b bg_fff">
    {{#each items}}
        <li class="ptb8 plr10 clearfix b_bd_b p_r" code="{{code}}" saleP="{{salePrice}}">
        	<div class="wp100 p_r z_index0">
	        	<div class="clearfix bg_fff cart-content-left">
		            <div class="fl wp40 tc pl32 p_r c-img-l">
		                <div class="cart-cont-left"><div class="radio-tip1 ab_l0"><i></i></div></div>
		                <a href="../operator/buy.html?code={{modelCode}}">
		                    <img src="{{pic1}}"/>
		                </a>
		            </div>
		            <div class="fl wp60 pl12">
		                <p class="t_323232 s_12 line-tow">{{modelName}}</p>
		                <p class="t_f64444 s_12"><span>{{totalAmount}}</span><span class="t_40pe s_10">积分</span></p>
		                <div class="t_666 ptb10">
		                    <span class="subCount a_s_span t_bold tc"><img src="/static/images/sub-icon.png" style="width: 20px;"/></span>
		                    <input class="buyCount tc w60p s_13 lh36" type="text" value="{{quantity}}"/>
		                    <span class="addCount a_s_span t_bold tc"><img src="/static/images/add-icon.png" style="width: 20px;"/></span>
		                </div>
		            </div>
	            </div>
	            <div class="al_addr_del">删除</div>
            </div>
        </li>
    {{/each}}
</ul>