{{#each items}}
    <li class="ptb8 clearfix b_bd_b plr10" code="{{code}}">
        <a class="show p_r clearfix" href="./detail.html?c={{code}}">
            <div class="fl wp30 tc"><img class="mh100p" src="{{pic1}}"/></div>
            <div class="fl wp60 pl12">
                <p class="tl line-tow t_bold">{{name}}</p>
                <p class="tl pt4 line-tow s_10 t_80">{{advert}}</p>
            </div>
            <div class="good-div"><img src="/static/images/good.png"/><span class="inline_block va-m pl6 t_80">{{totalDzNum}}</span></div>
        </a>
    </li>
{{/each}}