<ul id="cont" class="b_bd_b max-hp100">
    {{#each items}}
        <li class="ptb8 clearfix b_bd_b">
        	<a class="pl12 show clearfix" href="../detail/mall_detail.html?code={{code}}">
	            <div class="fl wp30 tc"><img src="{{advPic}}"/></div>
	            <div class="fl wp70 pl12">
	                <p class="t_323232 s_12 line-tow">{{name}}</p>
	                <p class="t_999 s_10 line-tow">{{advTitle}}</p>
	                <p class="t_red">{{price}}<span class="s_10 t_40pe pl4">积分</span></p>
	            </div>
            </a>
        </li>
    {{/each}}
</ul>