<a code="{{code}}" class="show">
    <p class="s_11 t_bold pr16">
        <span id="addressee">{{addressee}}</span>
        <span id="mobile" class="pl10">{{mobile}}</span>
    </p>
    <p class="s_10 pr16 t_323232">
        <span class="pr10">{{province}}</span><span class="pr10">{{city}}</span>
        <span class="pr10">{{district}}</span>
        <span>{{detailAddress}}</span>
    </p>
    <i class="r-tip"></i>
</a>